[submodule "glfw"]
	path = MeltedForge/libs/glfw
	url = https://github.com/CloudCodingSpace/GLFW
[submodule "slog"]
	path = MeltedForge/libs/slog
	url = https://github.com/CloudCodingSpace/slog
[submodule "cimgui"]
	path = MeltedForge/libs/cimgui
	url = https://github.com/cimgui/cimgui
